<footer class="footer">
    <div class="row">
        <div class="column medium-2 small-12 text-center">
            <img class="footer__logo" src="{{ asset('dist/img/logo-footer.png', 'theme') }}" alt="">
        </div>

        <div class="column medium-4 small-12">
            <ul class="footer__nav-list">
                <li class="footer__nav-list-item">
                    <a href="{{ path('homepage') }}">Главная</a>
                </li>

                <li class="footer__nav-list-item">
                    <a href="{{ path('pagebinding', {'slug':'about'}) }}">О нас</a>
                </li>

                <li class="footer__nav-list-item">
                    <a href="{{ path('pagebinding', {'slug':'services'}) }}">Услуги</a>
                </li>

                <li class="footer__nav-list-item">
                    <a href="{{ path('pagebinding', {'slug':'portfolio'}) }}">Портфолио</a>
                </li>

                <li class="footer__nav-list-item">
                    <a href="{{ path('pagebinding', {'slug':'products'}) }}">Продукция</a>
                </li>

                <li class="footer__nav-list-item">
                    <a href="{{ path('pagebinding', {'slug':'news'}) }}">Новости</a>
                </li>
            </ul>
        </div>

        <div class="column medium-6 small-12 text-right flex-container flex-dir-column">
            <ul class="footer__social">
                <li class="footer__social-item">
                    <a href="">
                        <img src="{{ asset('dist/img/social-facebook.svg', 'theme') }}" alt="">
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="">
                        <img src="{{ asset('dist/img/social-instagram.svg', 'theme') }}" alt="">
                    </a>
                </li>
            </ul>

            <div class="footer__copyright align-self-bottom">
                <span>2017 © LIM SERVICE. Все права защищены <span class="hide-for-small-only">|</span> </span><a href="https://interattiva.kz">Создано в INTERATTIVA</a>
            </div>
        </div>
    </div>
</footer>