<section class="contact-form">
    <div class="row align-center text-center">
        <form action="/form" method="post" class="column medium-6">

            <h2 class="text-uppercase">{{ l('Возникли вопросы?') }}</h2>

            <h3 class="contact-form__subtitle subtitle">{{ l('Напишите нам об этом и мы обязательно свяжемся с Вами') }}</h3>

            <div class="row">
                <div class="column medium-6">
                    <input type="text" name="name" class="lim-input" placeholder="{{ l('Имя') }}">
                </div>

                <div class="column medium-6">
                    <input type="text" name="email" class="lim-input" placeholder="E-mail">
                </div>
            </div>

            <div class="row">
                <div class="column medium-12">
                    <textarea name="message" class="lim-input" cols="30" rows="5" placeholder="{{ l('Ваш вопрос') }}"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="column medium-12 flex-container align-center">
                    <div class="g-recaptcha" data-sitekey="{{ config.get('general/google_site_key') }}"></div>
                </div>
            </div>

            <div class="contacts-form__submit">
                <input type="submit" class="lim-button lim-button--transparent-dark" value="{{ l('Отправить') }}">
            </div>

            <input type="hidden" name="language" value="{{ app.locale|split('_')|first }}">
        </form>
    </div>
</section>