{% setcontent resource = 'resources/1' %}

<header>
    <div class="row header">
        <div class="header__section header__section--left header__nav-wrap">
            <button class="header__nav header__item">
                <img src="{{ asset('dist/img/icon-menu.svg', 'theme') }}" alt="">
                <span class="header__item header__item--text hide-for-small-only">{{ l('Меню') }}</span>
            </button>
        </div>

        <div class="header__section header__section--center">
            <a href="{{ path('homepage') }}">
                <div class="header__logo-wrap">
                    <img class="header__logo header__item" src="{{ asset('dist/img/logo.png', 'theme') }}" alt="">
                    <img class="header__logo--white header__item" src="{{ asset('dist/img/logo-white.png', 'theme') }}" alt="">
                </div>
            </a>
        </div>

        <div class="header__section header__section--right header__contacts-wrap">
            {{ localeswitcher(template = 'partials/_localeswitcher.twig') }}
            <button class="header__contacts header__item">
                <span class="header__item header__item--text hide-for-small-only">{{ l('Контакты') }}</span>
                <img src="{{ asset('dist/img/icon-contacts.svg', 'theme') }}" alt="">
            </button>
        </div>
    </div>

    <div class="offside nav-menu">
        <div class="offside__content">
            <div class="offside__header">{{ l('Меню') }}</div>

            <ul class="nav-menu__list">
                <li class="nav-menu__list-item item-1">
                    <a href="{{ path('homepage') }}">{{ l('Главная') }}</a>
                </li>

                <li class="nav-menu__list-item item-2">
                    <a href="{{ path('pagebinding', {'slug':'about'}) }}">{{ l('О Нас') }}</a>
                </li>

                <li class="nav-menu__list-item item-3">
                    <a href="{{ path('pagebinding', {'slug':'services'}) }}">{{ l('Услуги') }}</a>
                </li>

                <li class="nav-menu__list-item item-4">
                    <a href="{{ path('pagebinding', {'slug':'portfolio'}) }}">{{ l('Портфолио') }}</a>
                </li>

                <li class="nav-menu__list-item item-5">
                    <a href="{{ path('pagebinding', {'slug':'products'}) }}">{{ l('Продукция') }}</a>
                </li>

                <li class="nav-menu__list-item item-6">
                    <a href="{{ path('pagebinding', {'slug':'home'}) }}">{{ l('Home') }}</a>
                </li>

                <li class="nav-menu__list-item item-7">
                    <a href="{{ path('pagebinding', {'slug':'horeca'}) }}">{{ l('HoReCa') }}</a>
                </li>

                <li class="nav-menu__list-item item-8">
                    <a href="{{ path('pagebinding', {'slug':'business'}) }}">{{ l('Business') }}</a>
                </li>

                <li class="nav-menu__list-item item-9">
                    <a href="{{ path('pagebinding', {'slug':'career'}) }}">{{ l('Карьера') }}</a>
                </li>
            </ul>

            <ul class="nav-menu__social">
                <li>
                    <a href="">
                        <img src="{{ asset('dist/img/social-facebook.svg', 'theme') }}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('dist/img/social-instagram.svg', 'theme') }}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="offside contacts-menu">
        <div class="offside__content">
            <div class="offside__header">{{ l('Контакты') }}</div>

            <div class="contacts-menu__info">
                <h2 class="contacts-menu__title">{{ l('ТОО Лим Сервис') }}</h2>

                <div class="contacts-menu__item contacts-menu__text">{{ resource.address }}</div>

                <div class="contacts-menu__item contacts-menu__text">{{ resource.email }}</div>

                <ul class="contacts-menu__phones">
                    {% for item in resource.phones %}
                        <li class="contacts-menu__phones-item contacts-menu__text">{{ item.number }}</li>
                    {% endfor %}
                </ul>
            </div>

            <form action="/form" method="post" class="contacts-menu__form">
                <div class="row">
                    <div class="column medium-6">
                        <input type="text" name="name" class="lim-input lim-input--bright" placeholder="Имя">
                    </div>

                    <div class="column medium-6">
                        <input type="text" name="email" class="lim-input lim-input--bright" placeholder="E-mail">
                    </div>
                </div>

                <div class="row">
                    <div class="column medium-12">
                        <textarea name="message" class="lim-input lim-input--bright" cols="30" rows="5" placeholder="Ваш вопрос"></textarea>
                    </div>
                </div>

                <div class="contacts-menu__submit">
                    <input type="submit" class="lim-button lim-button--transparent" value="Отправить">
                </div>

                <input type="hidden" name="language" value="{{ app.locale|split('_')|first }}">
            </form>
        </div>
    </div>
</header>