<header>
    <div class="row header">
        <div class="header__section header__section--left header__nav-wrap">
            <button class="header__nav header__item">
                <img src="{{ asset('dist/img/icon-menu.svg', 'theme') }}" alt="">
                <span class="header__item header__item--text">Меню</span>
            </button>
        </div>

        <div class="header__section header__section--center">
            <a href="">
                <div class="header__logo-wrap">
                    <img class="header__logo header__item" src="{{ asset('dist/img/logo.svg', 'theme') }}" alt="">
                    <img class="header__logo--white header__item" src="{{ asset('dist/img/logo-white.svg', 'theme') }}" alt="">
                </div>
            </a>
        </div>

        <div class="header__section header__section--right header__contacts-wrap">
            <a class="header__language header__item header__item--text" href="">ENG</a>
            <button class="header__contacts header__item">
                <span class="header__item header__item--text">Контакты</span>
                <img src="{{ asset('dist/img/icon-contacts.svg', 'theme') }}" alt="">
            </button>
        </div>
    </div>

    <div class="offside nav-menu">
        <div class="offside__content">
            <div class="offside__header">Меню</div>

            <ul class="nav-menu__list">
                <li class="nav-menu__list-item item-1">
                    <a href="">Главная</a>
                </li>

                <li class="nav-menu__list-item item-2">
                    <a href="">О Нас</a>
                </li>

                <li class="nav-menu__list-item item-3">
                    <a href="">Услуги</a>
                </li>

                <li class="nav-menu__list-item item-4">
                    <a href="">Портфолио</a>
                </li>

                <li class="nav-menu__list-item item-5">
                    <a href="">Продукция</a>
                </li>

                <li class="nav-menu__list-item item-6">
                    <a href="">Отзывы</a>
                </li>

                <li class="nav-menu__list-item item-7">
                    <a href="">Контакты</a>
                </li>
            </ul>

            <ul class="nav-menu__social">
                <li>
                    <a href="">
                        <img src="{{ asset('dist/img/social-facebook.svg', 'theme') }}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('dist/img/social-instagram.svg', 'theme') }}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="offside contacts-menu">
        <div class="offside__content">
            <div class="offside__header">Контакты</div>
        </div>
    </div>
</header>