{% extends 'partials/_master.twig' %}

{% setcontent resource = 'resources/1' %}

{% block content %}

    <section class="about__hero lim-hero">
        <div class="row">
            <div class="lim-jumbo {{ page.title_color }}" style="background-image: url({{ page.image|image() }})">
                <div class="lim-jumbo__content">
                    <h2 class="lim-jumbo__title">{{ page.subtitle }}</h2>
                    <h3 class="lim-jumbo__heading">{{ page.title }}</h3>
                </div>

                <img src="{{ asset('dist/img/jumbo-arrow.svg', 'theme') }}" alt="" class="lim-jumbo__arrow" data-scroll-target="#description">
            </div>
        </div>
    </section>

    <section class="about__description" id="description">
        <div class="row column medium-12">
            <h3 class="lim-title">{{ page.templatefields.about_heading }}</h3>
        </div>

        <div class="row column medium-12">
            <p>{{ page.templatefields.about_body }}</p>
        </div>
    </section>

    <section class="about__work">
        <div class="work__heading text-center">
            <h2 class="lim-heading">{{ page.templatefields.work_heading }}</h2>
            <h3 class="lim-subtitle">{{ page.templatefields.work_subheading }}</h3>
        </div>

        <div class="row align-center">
            <div class="column small-12 medium-8">
                <div class="work__slider" data-work-slider>
                    {% for item in page.templatefields.work_slides %}
                        <div class="work__slide">
                            {% if not loop.first %}
                                <div class="slide__prev">{{ loop.index - 1 }}</div>
                            {% endif %}

                            <div class="slide__current">{{ loop.index }}</div>

                            {% if not loop.last %}
                                <div class="slide__next">{{ loop.index + 1 }}</div>
                            {% endif %}
                            <div class="slide__wrap">
                                <h2 class="slide__title">{{ item.title }}</h2>
                                <div class="slide__content">{{ item.content }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="about__team">
        <div class="row">
            <div class="column medium-1 small-12">
                <h2 class="lim-heading lim-heading--vertical team__title">{{ page.templatefields.team_heading }}</h2>
            </div>

            <div class="row align-center column medium-11 small-12 team__wrapper">
                <div class="team__content column medium-9">
                    <div class="team__photo">
                        <img src="{{ page.templatefields.team_image|image() }}" alt="">
                    </div>
                    <p class="team__description">{{ page.templatefields.team_body }}</p>
                </div>
            </div>

            <div class="team__link">
                <a class="lim-link" href="{{ path('pagebinding', {'slug':'career'}) }}">{{ l('Карьера в Лим Сервис') }}</a>
            </div>
        </div>
    </section>

    <section class="about__history">
        <div class="row history__heading">
            <div class="column small-12"><h2 class="lim-heading">{{ page.templatefields.history_heading }}</h2></div>
        </div>

        <div class="history__content">
            <div class="row">
                <div class="column medium-6 small-12">
                    <div class="history__image">
                        <img src="{{ page.templatefields.history_image|image() }}" alt="">
                    </div>
                </div>

                <div class="column medium-6 small-12">
                    <h3 class="lim-mini-title history__heading">{{ page.templatefields.history_subheading }}</h3>
                    <p class="history__text big-text">{{ page.templatefields.history_body }}</p>
                </div>
            </div>
        </div>

    </section>

    <section class="about__clients">
        <div class="clients__header row align-right">
            <div class="column medium-5 clients__title">
                <h2 class="lim-heading">{{ page.templatefields.clients_heading }}</h2>
            </div>
            <div class="column medium-6 clients__link">
                <a href="{{ path('pagebinding', {'slug':'portfolio'}) }}" class="lim-link">{{ l('Посмотреть портфолио') }}</a>
            </div>
        </div>

        <div class="clients__grid">
            {% for batch in page.templatefields.clients_list|batch(5) %}
                <div class="row align-center">
                    {% for item in batch  %}
                        <div class="column medium-2 small-6">
                            <img src="{{ item|image() }}" alt="">
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </section>

    <section class="about__contacts">
        <div class="row">
            <div class="column medium-1 small-12">
                <h2 class="lim-heading lim-heading--vertical">{{ l('Как нас найти') }}</h2>
            </div>

            <div class="row column medium-11 small-12 contacts__wrapper">
                <div class="column medium-8 small-12 contacts__map" id="map">
                </div>
                <div class="column medium-5 small-12 contacts__info">
                    <h2 class="info__title">{{ l('ТОО Лим Сервис') }}</h2>

                    <div class="info__wrapper">
                        <div class="info__item info__text">{{ resource.address }}</div>

                        <div class="info__item info__text">{{ resource.email }}</div>

                        <ul class="info__phones">
                            {% for item in resource.phones %}
                                <li class="info__phones-item info__text">{{ item.number }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" class="js-location-input"
               data-longitude="{{ page.templatefields.map_coordinates.longitude }}"
               data-latitude="{{ page.templatefields.map_coordinates.latitude }}"
        >
    </section>

{% endblock %}

{% block page_scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ config.get('general/google_api_key') }}"></script>
{% endblock %}