{% extends 'partials/_master.twig' %}

{% block content %}

    <section class="about__hero lim-hero">
        <div class="row">
            <div class="lim-jumbo" style="background-image: url({{ asset('dist/img/test-bg.png', 'theme') }})">
                <div class="lim-jumbo__content">
                    <h2 class="lim-jumbo__title">Лим Сервис</h2>
                    <h3 class="lim-jumbo__heading">Для тех, кто ценит вкус</h3>
                </div>

                <img src="{{ asset('dist/img/jumbo-arrow.svg', 'theme') }}" alt="" class="lim-jumbo__arrow">
            </div>
        </div>
    </section>

    <section class="about__description">
        <div class="row column medium-12">
            <h3 class="lim-title">О Нас</h3>
        </div>

        <div class="row column medium-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad, aliquid animi, asperiores consectetur culpa cum cupiditate deserunt ducimus error esse expedita explicabo harum ipsam itaque iusto laudantium, magni maxime minus mollitia necessitatibus neque nesciunt numquam officiis perspiciatis qui quis quod repellendus rerum soluta ullam unde veniam voluptatem! Ea, mollitia!</p>
        </div>
    </section>

    <section class="about__team">
        <div class="row">
            <div class="column medium-1">
                <h2 class="lim-heading lim-heading--vertical">Наша Команда</h2>
            </div>

            <div class="row align-center column medium-11 team__wrapper">
                <div class="team__content column medium-9">
                    <div class="team__photo">
                        <img src="{{ asset('dist/img/our-team.png', 'theme') }}" alt="">
                    </div>
                    <p class="team__description">
                        В команде  харизматичные личности, обучавшиеся в Казахстане и за рубежом. Коллектив имеет опыт работы более 15 лет в производстве мебели и ведение проектов масштабного уровня. Реализовано более 100 успешных проектов. 
                    </p>
                </div>
            </div>

            <div class="team__link">
                <a class="lim-link" href="/">Карьера в Лим Сервис</a>
            </div>
        </div>
    </section>

    <section class="about__history">
        <div class="row align-right">
            <h2 class="lim-heading">История компании</h2>
        </div>

        <div class="history__content">
            <div class="row">
                <div class="column medium-6">
                    <div class="history__image">
                        <img src="{{ asset('dist/img/history.png', 'theme') }}" alt="">
                    </div>
                </div>

                <div class="column medium-6">
                    <h3 class="lim-mini-title history__heading">Профессионализм и опыт</h3>
                    <p class="history__text big-text">
                        Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять
                    </p>
                </div>
            </div>
        </div>

    </section>

    <section class="about__clients">
        <div class="clients__header row align-right">
            <div class="column medium-5 clients__title">
                <h2 class="lim-heading">Нам доверяют</h2>
            </div>
            <div class="column medium-6 clients__link">
                <a href="/" class="lim-link">Посмотреть портфолио</a>
            </div>
        </div>

        <div class="clients__grid">
            <div class="row align-center">
                {% for i in 1..5  %}
                    <div class="column medium-2">
                        <img src="{{ asset('dist/img/kfc.png', 'theme') }}" alt="">
                    </div>
                {% endfor %}
            </div>

            <div class="row align-center">
                {% for i in 1..5  %}
                    <div class="column medium-2">
                        <img src="{{ asset('dist/img/kfc.png', 'theme') }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>

    <section class="about__contacts">
        <div class="row">
            <div class="column medium-1">
                <h2 class="lim-heading lim-heading--vertical">Как нас найти</h2>
            </div>

            <div class="row column medium-11 contacts__wrapper">
                <div class="column medium-8 contacts__map">
                    <lim-map></lim-map>
                </div>
                <div class="column medium-5 contacts__info">
                    <h2 class="info__title">ТОО ЛИМ СЕРВИС</h2>

                    <div class="info__wrapper">
                        <div class="info__item info__text">г. Алматы, ул. Богенбай батыра 86/47; оф. 510</div>

                        <div class="info__item info__text">info@limservice.kz</div>

                        <ul class="info__phones">
                            <li class="info__phones-item info__text">+7 727 382 12 19</li><li class="info__phones-item info__text">+7 771 460 00 50</li>
                            <li class="info__phones-item info__text">+7 727 393 84 87</li><li class="info__phones-item info__text">+7 707 277 77 30</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}