{% extends 'partials/_master.twig' %}

{% setcontent vacancies = 'vacancies' %}

{% block content %}

    <section class="career__hero lim-hero">
        <div class="row">
            <div class="lim-jumbo {{ page.title_color }}" style="background-image: url({{ page.image|image() }})">
                <div class="lim-jumbo__content">
                    <h2 class="lim-jumbo__title">{{ page.subtitle }}</h2>
                    <h3 class="lim-jumbo__heading">{{ page.title }}</h3>
                </div>

                <img src="{{ asset('dist/img/jumbo-arrow.svg', 'theme') }}" alt="" class="lim-jumbo__arrow" data-scroll-target="#description">
            </div>
        </div>
    </section>

    <section class="career__description" id="description">
        <div class="row column medium-12">
            <h3 class="lim-title">{{ page.templatefields.about_heading }}</h3>
        </div>

        <div class="row column medium-12">
            <p>{{ page.templatefields.about_body }}</p>
        </div>
    </section>

    <section class="career__vacancies">
        <div class="row">
            <div class="column medium-1">
                <h2 class="lim-heading lim-heading--vertical vacancies__title">{{ page.templatefields.vacancies_heading }}</h2>
            </div>

            <div class="column medium-11">
                <div class="row">
                    <div class="column medium-4 small-12">
                        <ul class="tabs vacancies__tab-controls" data-tabs id="vacancies-tabs">
                            {% for item in vacancies %}
                                <li class="tabs-title {{ loop.first ? 'is-active':'' }}" aria-selected="true">
                                    <a href="#vacancy-{{ loop.index }}">{{ item.get('title') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>1
                    <div class="column medium-7 small-12">
                        <div class="vacancies__tab-content tabs-content" data-tabs-content="vacancies-tabs">
                            {% for item in vacancies %}
                                <div class="vacancies__tab tabs-panel {{ loop.first ? 'is-active':'' }}" id="vacancy-{{ loop.index }}">

                                    <h3 class="tab__title">{{ l('Требования к сотруднику:') }}</h3>

                                    <div class="tab__content html-content">{{ item.description|raw }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="career__action text-center">
        <h2 class="text-uppercase">{{ l('Станьте частью нашей команды') }}</h2>
        <h3 class="action__subtitle">{{ l('Отправьте свое резюме к нам на почту') }}</h3>

        <a href="mailto:info@limservice.kz" class="lim-button lim-button--transparent-dark">{{ page.templatefields.email }}</a>
    </section>

{% endblock content %}