{% extends 'partials/_master.twig' %}

{% setcontent slides = 'slides' where { category: page.templatefields.category } %}
{% setcontent projects = 'projects' where { category: page.templatefields.category } %}

{% block content %}

    <section class="landing__hero lim-hero">
        <div class="row">
            <div class="lim-jumbo {{ page.title_color }}" style="background-image: url({{ page.image|image() }})">
                <div class="lim-jumbo__content">
                    <h2 class="lim-jumbo__title">{{ page.subtitle }}</h2>
                    <h3 class="lim-jumbo__heading">{{ page.title }}</h3>

                    <div class="lim-jumbo__link">
                        <a href="{{ path('pagebinding', {'slug':'products', 'category':page.templatefields.category}) }}" class="lim-button lim-button--bright">{{ l('Посмотреть продукцию') }}</a>
                    </div>
                </div>

                <img src="{{ asset('dist/img/jumbo-arrow.svg', 'theme') }}" alt="" class="lim-jumbo__arrow" data-scroll-target="#desc">
            </div>
        </div>
    </section>

    <section class="landing__desc" id="desc">
        <h3 class="lim-title desc__title">{{ page.templatefields.about_heading }}</h3>

        <p class="desc__text">{{ page.templatefields.about_body }}</p>
    </section>

    {% if slides is not empty %}
        <section class="landing__slider">
            <div class="row expanded align-center">
                <div class="column small-12">
                    <div class="slider">

                        <img src="{{ asset('dist/img/prev-icon.svg', 'theme') }}" class="slider__prev">
                        <img src="{{ asset('dist/img/next-icon.svg', 'theme') }}" class="slider__next">

                        <div class="slider__container lim-text-slider" data-landing-slider>

                            {% for item in slides %}
                                <div class="slider__slide">
                                    <h3 class="slide__title">{{ item.heading }}</h3>
                                    <p class="slide__content">{{ item.body }}</p>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <div class="landing__projects">

        <div class="landing__heading text-center">
            <h2 class="lim-heading">{{ page.templatefields.projects_heading }}</h2>
            <h3 class="lim-subtitle">{{ page.templatefields.projects_subheading }}</h3>
        </div>

        {% for item in projects %}
            <div class="lim-project {{ loop.index % 2 == 0 ? 'lim-project--inverse':'' }}">
                <div class="row">
                    <div class="lim-project__heading">
                        <h3 class="heading__supertext">{{ item.title }}</h3>

                        <div class="heading__content html-content">
                            {{ item.body|raw }}
                        </div>
                    </div>

                    <div class="lim-project__images">
                        <img class="lim-project__front-image" src="{{ item.front_image|image() }}" alt="">
                        <img class="lim-project__rear-image" src="{{ item.rear_image|image() }}" alt="">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'partials/_form.twig' %}

{% endblock content %}