{% extends 'partials/_front.twig' %}

{% setcontent projects = 'projects' %}

{% block content %}

    <div class="front-container">
        <div class="lim-slider centered">
            <div class="lim-slider__container">
                {% for item in projects %}
                    <div id="project-{{ loop.index }}" class="slide">
                        <div class="slider-row">
                            <div class="lim-portfolio">
                                <div class="lim-portfolio__content">
                                    <div class="lim-portfolio__content-wrap">
                                        <h3 class="content__category lim-mini-title">{{ item.category }}</h3>
                                        <h2 class="content__title text-uppercase">{{ item.title }}</h2>

                                        <p class="content__label">Что было сделано</p>
                                        <p class="content__text">{{ item.description }}</p>
                                    </div>
                                </div>
                                {#<div class="lim-portfolio__image" style="background-image: url('{{ item.image|image() }}')"></div>#}
                                <div class="lim-portfolio__slider">
                                    {% for image in item.images %}
                                        <div class="lim-portfolio__slide" style="background-image: url('{{ image|image() }}')"></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="lim-slider__controls" data-centered>
                <ul class="controls__list">
                    {% for item in projects %}
                        <li class="controls__list-item {% if loop.first %} active {% endif %}" data-target="#project-{{ loop.index }}">
                            <span>{{ item.title }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}