{% extends 'partials/_master.twig' %}

{% set category = app.request.get('category')|default(false) %}
{% set search = app.request.get('search')|default(false) %}

{% if app.request.get('type') is not empty %}
    {% setcontent type = 'product_types/' ~ app.request.get('type') %}
{% endif %}

{% if type is empty %}
    {% setcontent products = 'products' where { category: '%' ~ category ~ '%' } %}

{% else %}
    {% set ids = type.relation.products|join(" || ") %}
    {% setcontent products = 'products' where { id: ids, category: '%' ~ category ~ '%' } %}

    {% if products|length == 1 %}
        {% set products = [products] %}
    {% endif %}
{% endif %}

{% set filtered_products = [] %}

{% for item in products %}
    {% if search|lower in item.title|lower %}
        {% set filtered_products = filtered_products|merge([item]) %}
    {% endif %}
{% endfor %}

{% setcontent product_types = 'product_types' %}

{% block content %}
    <section class="products">
        <div class="products__header">
            <form method="get" data-reloading-form>
                <div class="row products__categories">
                    <div class="column medium-4">
                        <h1 class="lim-heading text-uppercase">Продукция</h1>
                    </div>

                    <div class="column medium-8 products__categories-list hide-for-small-only">
                        <ul class="products__categories-list">
                            <li class="products__categories-item">
                                <input type="radio" name="category" id="category-all" value="" {{ category is empty ? 'checked':'' }}>
                                <label for="category-all">Все</label>
                            </li>

                            <li class="products__categories-item">
                                <input type="radio" name="category" id="category-business" value="Business" {{ category == 'Business' ? 'checked':'' }}>
                                <label for="category-business">Business</label>
                            </li>

                            <li class="products__categories-item">
                                <input type="radio" name="category" id="category-horeca" value="HoReCa" {{ category == 'HoReCa' ? 'checked':'' }}>
                                <label for="category-horeca">HoReCa</label>
                            </li>

                            <li class="products__categories-item">
                                <input type="radio" name="category" id="category-home" value="Home" {{ category == 'Home' ? 'checked':'' }}>
                                <label for="category-home">Home</label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="products__filters hide-for-small-only">
                    <div class="row">
                        <div class="column medium-5 flex-container align-middle">
                            <span>Показано {{ filtered_products|length }} продукта</span>
                        </div>

                        <div class="column medium-2 flex-container align-middle">
                            <select name="type" class="lim-input" title="type" data-sync-select="#product-types-mobile" id="product-types">
                                <option value="0">Тип (все)</option>
                                {% for item in product_types %}
                                    <option value="{{ item.id }}" {{ type.id == item.id ? 'selected':'' }}>{{ item.title }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="column medium-3 flex-container align-middle">
                            <input type="text" name="search" placeholder="Поиск" class="lim-input filters__search">
                        </div>
                    </div>
                </div>

                {% if ismobileclient() %}
                    <div class="products__filters--mobile offside">
                        <div class="offside__content">
                            <ul class="products__categories-list">
                                <li class="products__categories-item">
                                    <input type="radio" name="category" id="category-all" value="" {{ category is empty ? 'checked':'' }} >
                                    <label for="category-all">Все</label>
                                </li>

                                <li class="products__categories-item">
                                    <input type="radio" name="category" id="category-business" value="Business" {{ category == 'Business' ? 'checked':'' }} >
                                    <label for="category-business">Business</label>
                                </li>

                                <li class="products__categories-item">
                                    <input type="radio" name="category" id="category-horeca" value="HoReCa" {{ category == 'HoReCa' ? 'checked':'' }} >
                                    <label for="category-horeca">HoReCa</label>
                                </li>

                                <li class="products__categories-item">
                                    <input type="radio" name="category" id="category-home" value="Home" {{ category == 'Home' ? 'checked':'' }} >
                                    <label for="category-home">Home</label>
                                </li>
                            </ul>

                            <select name="type" class="lim-input lim-input--bright" title="type" id="product-types-mobile" data-sync-select="#product-types" >
                                <option value="0">Тип (все)</option>
                                {% for item in product_types %}
                                    <option value="{{ item.id }}" {{ type.id == item.id ? 'selected':'' }}>{{ item.title }}</option>
                                {% endfor %}
                            </select>

                            <input type="text" name="search" placeholder="Поиск" class="lim-input lim-input--bright filters__search" >
                        </div>
                    </div>
                {% endif %}

                <div class="products__filters-toggle">
                    <img class="filters-toggle__close" src="{{ asset('dist/img/icon-close-round.svg', 'theme') }}" alt="">
                    <img class="filters-toggle__open" src="{{ asset('dist/img/icon-open-round.svg', 'theme') }}" alt="">
                </div>
            </form>
        </div>

        <div class="products__listing">
            <div class="row">

                {% for item in filtered_products %}
                    <div class="column medium-6">
                        <div class="products__item" id="product-{{ loop.index }}">
                            <img src="{{ item.image|image() }}" class="item__image">
                            <div class="item__content">
                                <div class="item__header" data-product-toggle="#product-{{ loop.index }}">
                                    <div class="item__name">
                                        <h3 class="name__open">{{ item.title }}</h3>
                                        <h3 class="name__close">{{ item.title }}</h3>
                                    </div>
                                    <div class="item__toggle">
                                        <img src="{{ asset('dist/img/close-icon.svg', 'theme') }}" alt="" class="toggle__close">

                                        <img src="{{ asset('dist/img/plus-icon.svg', 'theme') }}" alt="" class="toggle__open">
                                    </div>
                                </div>

                                <div class="item__description html-content">
                                    {{ item.description|raw }}
                                </div>

                                <div class="item__modal">
                                    <button class="lim-button lim-button--dark" data-open="product-modal-{{ item.id }}">Узнать цену</button>
                                    <div class="reveal" id="product-modal-{{ item.id }}" data-reveal>
                                        <form action="/form" method="post">
                                            <input type="hidden" name="product-id" value="{{ item.id }}">
                                            <input type="hidden" name="language" value="{{ app.locale|split('_')|first }}">
                                            <div class="row">
                                                <div class="column small-12 medium-6">
                                                    <label>Email
                                                        <input type="email" name="email" class="lim-input">
                                                    </label>
                                                </div>

                                                <div class="column small-12 medium-6">
                                                    <label>{{ l('Имя') }}
                                                        <input type="text" name="name" class="lim-input">
                                                    </label>
                                                </div>

                                                <div class="column small-12 medium-6">
                                                    <label>{{ l('Телефон') }}
                                                        <input type="text" name="phone" class="lim-input">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row text-center flex-container align-center">
                                                <button type="submit" class="lim-button lim-button--dark">Отправить</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'partials/_form.twig' %}
{% endblock content %}