{% extends 'partials/_master.twig' %}

{% block content %}
    <section class="products">
        <div class="products__header">
            <div class="row products__categories">
                <div class="column medium-4">
                    <h1 class="lim-heading text-uppercase">Продукция</h1>
                </div>

                <div class="column medium-8">
                    <ul class="products__categories-list">
                        <li class="products__categories-item active">
                            <a href="">Все</a>
                        </li>

                        <li class="products__categories-item">
                            <a href="">Buisness</a>
                        </li>

                        <li class="products__categories-item">
                            <a href="">HoReCa</a>
                        </li>

                        <li class="products__categories-item">
                            <a href="">Home</a>
                        </li>
                    </ul>
                </div>
            </div>

            <form class="products__filters" action="">
                <div class="row">
                    <div class="column medium-5 flex-container align-middle">
                        <span>Показано 25 продукта</span>
                    </div>

                    <div class="column medium-2 flex-container align-middle">
                        <select name="price" class="lim-input">
                            <option value="0">Цена</option>
                        </select>
                    </div>

                    <div class="column medium-2 flex-container align-middle">
                        <select name="type" class="lim-input">
                            <option value="0">Тип</option>
                        </select>
                    </div>

                    <div class="column medium-3 flex-container align-middle">
                        <input type="text" name="search" placeholder="Поиск" class="lim-input filters__search">
                    </div>
                </div>
            </form>
        </div>

        <div class="products__listing">
            <div class="row">

                {% for i in 1..25 %}
                    <div class="column medium-6">
                        <div class="products__item" id="product-{{ i }}">
                            <img src="{{ asset('dist/img/product-photo.png', 'theme') }}" class="item__image">
                            <div class="item__content">
                                <div class="item__header" data-product-toggle="#product-{{ i }}">
                                    <div class="item__name">
                                        <h3 class="name__open">ДИВАН «НЕАПОЛЬ» С КРЕСЛОМ</h3>
                                        <h3 class="name__close">ДИВАН «НЕАПОЛЬ» С КРЕСЛОМ</h3>
                                    </div>
                                    <div class="item__toggle">
                                        <img src="{{ asset('dist/img/close-icon.svg', 'theme') }}" alt="" class="toggle__close">

                                        <img src="{{ asset('dist/img/plus-icon.svg', 'theme') }}" alt="" class="toggle__open">
                                    </div>
                                </div>

                                <div class="item__description">
                                    <p class="desc--regular">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequatur dolore expedita fugit incidunt nihil obcaecati voluptates voluptatibus. Aut eaque explicabo optio repellat repellendus suscipit?</p>

                                    <p class="desc--bold">Технические характеристики:</p>

                                    <ul class="desc__list">
                                        <li class="desc--regular">Артикул: 00000</li>
                                        <li class="desc--regular">Производитель: 00000</li>
                                        <li class="desc--regular">Габариты: 00000</li>
                                        <li class="desc--regular">Спальное место: 00000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}