{% extends 'partials/_master.twig' %}

{% block content %}

    <section class="services__hero lim-hero">
        <div class="row">
            <div class="lim-jumbo" style="background-image: url({{ page.image|image() }})">
                <div class="lim-jumbo__content">
                    <h2 class="lim-jumbo__title">{{ page.subtitle }}</h2>
                    <h3 class="lim-jumbo__heading">{{ page.title }}</h3>
                </div>

                <img src="{{ asset('dist/img/jumbo-arrow.svg', 'theme') }}" alt="" class="lim-jumbo__arrow" data-scroll-target="#about">
            </div>
        </div>
    </section>

    <section class="services__about" id="about">
        <p class="big-text text-center">{{ page.templatefields.about_body }}</p>
    </section>

    <section class="services__pros">
        <div class="row">
            <div class="column medium-1 small-12">
                <h2 class="lim-heading lim-heading--vertical">{{ page.templatefields.pros_heading }}</h2>
            </div>

            <div class="column medium-11 small-12 hide-for-small-only">
                <div class="row">
                    <div class="column medium-2 small-12 medium-order-1 small-order-2">
                        <ul class="tabs pros__tab-controls" data-tabs id="pros-tabs">
                            {% for item in page.templatefields.pros %}
                                <li class="tabs-title {{ loop.first ? 'is-active':'' }}">
                                    <a href="#pro-{{ loop.index }}">{{ loop.index }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="column medium-9 small-12 medium-order-2 small-order-1">
                        <div class="pros__tab-content tabs-content" data-tabs-content="pros-tabs">
                            {% for item in page.templatefields.pros %}
                                <div class="pros__tab tabs-panel {{ loop.first ? 'is-active':'' }}" id="pro-{{ loop.index }}" style="background-image: url('{{ item.image|image() }}')">
                                    <div class="tab__description">{{ item.description }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="column small-12 pros__slider-mobile show-for-small-only lim-text-slider">
                {% for item in page.templatefields.pros %}
                    <div class="pros__slide" style="background-image: url('{{ item.image|image() }}')">
                        <div class="slide__description">{{ item.description }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="services__offers">
        <div class="offers__heading text-center">
            <h2 class="lim-heading">{{ page.templatefields.offers_heading }}</h2>
            <h3 class="lim-subtitle">{{ page.templatefields.offers_subheading }}</h3>
        </div>

        <div class="offers__projects">
            {% for item in page.templatefields.offers %}
                <div class="lim-project {{ loop.index % 2 == 0 ? 'lim-project--inverse':'' }}">
                    <div class="row">
                        <div class="lim-project__heading">
                            <h3 class="heading__supertext">{{ loop.index }}</h3>
                            <h3 class="heading__subtext">{{ item.title }}</h3>
                        </div>

                        <div class="lim-project__images">
                            <img class="lim-project__front-image" src="{{ item.front_image|image() }}" alt="">
                            <img class="lim-project__rear-image" src="{{ item.rear_image|image() }}" alt="">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    {% include 'partials/_form.twig' %}

{% endblock %}