{% extends 'partials/_master.twig' %}

{% block content %}

    <section class="services__hero lim-hero">
        <div class="row">
            <div class="lim-jumbo" style="background-image: url({{ asset('dist/img/test-bg.png', 'theme') }})">
                <div class="lim-jumbo__content">
                    <h2 class="lim-jumbo__title">Лим Сервис</h2>
                    <h3 class="lim-jumbo__heading">Для тех, кто ценит вкус</h3>
                </div>

                <img src="{{ asset('dist/img/jumbo-arrow.svg', 'theme') }}" alt="" class="lim-jumbo__arrow">
            </div>
        </div>
    </section>

    <section class="services__about">
        <p class="big-text text-center">
            Нашими ключевыми принципами являются высокотехнологичные процессы производства, использование только высококачественных материалов и сжатые сроки.
        </p>
    </section>

    <section class="services__pros">
        <div class="row">
            <div class="column medium-1">
                <h2 class="lim-heading lim-heading--vertical">Преимущества</h2>
            </div>

            <div class="column medium-11">
                <div class="row">
                    <div class="column medium-2">
                        <ul class="tabs pros__tab-controls" data-tabs id="pros-tabs">
                            <li class="tabs-title is-active" aria-selected="true">
                                <a href="#pro-1">1</a>
                            </li>

                            <li class="tabs-title">
                                <a href="#pro-2">2</a>
                            </li>

                            <li class="tabs-title">
                                <a href="#pro-3">3</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column medium-9">
                        <div class="pros__tab-content tabs-content" data-tabs-content="pros-tabs">
                            <div class="pros__tab tabs-panel is-active" id="pro-1" style="background-image: url('{{ asset('dist/img/pro.png', 'theme') }}')">
                                <div class="tab__description">
                                    Высокотехнологичный парк оборудования с числовым программным управлением от ведущих европейских производителей.
                                </div>
                            </div>

                            <div class="pros__tab tabs-panel" id="pro-2" style="background-image: url('{{ asset('dist/img/pro.png', 'theme') }}')">
                                <div class="tab__description">
                                    Второй таб
                                </div>
                            </div>

                            <div class="pros__tab tabs-panel" id="pro-3" style="background-image: url('{{ asset('dist/img/pro.png', 'theme') }}')">
                                <div class="tab__description">
                                    Третий таб
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="services__offers">

    </div>

{% endblock %}